<form id="auth_form" action="reg_script" enctype="multipart/form-data" method="post" autocomplete="off">
    <h1>Регистрация</h1>
    <div>
        <label for="mail">Электронная почта:</label>
        <input type="email" name="mail" autocomplete="off">
    </div>
    <div>
        <label for="name">Пароль:</label>
        <input type="password" name="password" autocomplete="new-password">
    </div>
    <div>
        <label for="captcha">Пройдите каптчу</label>
        <img src="captcha.php" alt="CAPTCHA" class="captcha-image">
        <button class="refresh-captcha">Изменить</button>
        <input type="text" id="captcha" name="captcha_challenge" pattern="[0-9]{6}">
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться">
    </div>
</form>
<script>
    var refreshButton = document.querySelector(".refresh-captcha");
    refreshButton.addEventListener('click', e => {
        e.preventDefault();
        document.querySelector(".captcha-image").src = 'captcha.php?' + Date.now();
    });
</script>